/*/.classpath
/*/*/.classpath
/*/.project
/*/src/main/resources/db/*
/*/src/main/filters/dev.properties
/*/.settings
/*/target
/*/bin
/*/*.sql
/*/logs/*
/*/data/*
/*/db
/*/build*.xml

/*/*/.project
/*/src/main/filters/dev.properties
/*/*/.settings
/*/*/target
/*/*/bin
/*/*/src/main/resources/db/*
/*/*/src/main/filters/dev.properties
/*/*/logs/*
/*/*/db
/*/*/build*.xml

/.classpath
/.project
/.settings
/src/main/filters/dev.properties
/src/main/resources/db/*
/src/template/project
/target
/bin
/logs/*
/*.tar.gz
/db
/build*.xml
